
<div class="full">
  <p-card class="carta">
    <p>
      <strong>{{ message }}</strong>
    </p>
    <p>¡Gracias por tu compra! 😊</p>
    <p-divider></p-divider>
    <p>¿Quieres seguir agregando productos a tu compra? 🛍</p>
    <p-divider></p-divider>
    <p>Puedes hacerlo de dos formas:</p>
    <ul>
      <li>🤖 Haz clic en nuestro bot para seguir comprando</li>
      <li>👩‍💼 O comunícate con una de nuestras agentes de venta para obtener ayuda personalizada</li>
    </ul>
    <p-divider></p-divider>
    <p>¡Haz clic en el botón para continuar! 👉</p>
    <p-divider></p-divider>
    <p-button
      class="link-btn"
      icon="pi pi-whatsapp"
      label="Bot Logan"
      [raised]="true"
      [rounded]="true"
      [outlined]="true"
      severity="help"
      (click)="botLogan()">
    </p-button>
  </p-card>
</div>
