<div class="contenedor">
  <div class="header">
    <p-button  icon="pi pi-home"[text]="true" [raised]="true" [rounded]="true" severity="contrast" size="large" (click)="goHome()"/>
    <div class="center-content">
      <img class="header-img" src="https://i.ibb.co/BsmGhbf/Blancos-logan.jpg" alt="Imagen desde Google Drive">
      <span class="header-text">Lista de Productos</span>
    </div>
    <div class="right-buttons">
      <p-button icon="pi pi-cart-minus" label="Carrito" [raised]="true" [rounded]="true" (click)="goVenta()" severity="warning" outlined="true">
        <span class="bag">{{ bagCount }}</span>
      </p-button>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search"  [formControl]="searchControl" />
      </p-iconField>
    </div>
    <p-toast></p-toast>
  </div>

  <div class="body">
    <ng-container *ngIf="!loading && !error; else loadingTemplate">
      <ng-container *ngIf="filteredProducts.length > 0; else noProductsTemplate">
        <div class="product-grid">
          <div class="product-card" *ngFor="let product of filteredProducts">
            <!-- Header: Imagen -->
            <div class="card-header">
              <img [src]="product.ubicacion" alt="{{ product.nombre }}" class="product-image">
            </div>
            <!-- Body: Nombre y Descripción -->
            <div class="card-body">
              <h4>{{ product.nombre }}</h4>
              <p class="product-description">{{ product.descripcion }}</p>
            </div>
            <!-- Footer: Precio y Botón -->
            <div class="card-footer">
              <span class="product-price">Precio: ${{ product.precio }}</span>
              <p-button icon="pi pi-shopping-bag" label="Seleccionar" [raised]="true" [rounded]="true" (click)="showDialog(product)" severity="warning" outlined="true"/>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!-- Plantilla de carga -->
    <ng-template #loadingTemplate>
      <div class="loading-container">
        <p-progressSpinner></p-progressSpinner>
        <p>Cargando productos...</p>
      </div>
    </ng-template>
    <!-- Plantilla de productos no encontrados -->
    <ng-template #noProductsTemplate>
      <div class="error-container">
        <p>No se encontraron productos.</p>
      </div>
    </ng-template>
  </div>


  <!--Aqui el cuadro de dialog-->
  <p-dialog header="Detalles del Producto" [(visible)]="displayDialog" modal="modal"  [style]="{ width: '25vw' }"  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" class="custom-dialog">
    <div *ngIf="selectedProduct">
      <img [src]="selectedProduct.ubicacion" alt="Producto" style="width: 100%;" />
      <h3>{{ selectedProduct.nombre }}</h3>
      <p><strong>Precio:</strong> ${{ selectedProduct.precio }}</p>
      <div class="input-container">
        <p-button (click)="decrement()" [raised]="true" [rounded]="true"  severity="danger" outlined="true">-</p-button>
        <span class="quantity">{{ counter }}</span>
        <p-button (click)="increment()" [raised]="true" [rounded]="true"  severity="success" outlined="true">+</p-button>
      </div>
    </div>
    <p-footer>
      <div class="dialog-footer">
        <strong>Total: ${{ calculateTotal() }}</strong>
        <p-button icon="pi pi-shopping-bag" severity="success" [rounded]="true" [raised]="true" label="Agregar" (click)="addToCart()"></p-button>
      </div>
    </p-footer>
  </p-dialog>

  <router-outlet></router-outlet>
</div>
