:host {
  display: block;
  height: 100%;
}

.mb-5 {
  margin-bottom: 1.25rem;
  background: linear-gradient(83deg, #efeae6 0%, #b1b1a9 100%);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;

}

.col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: linear-gradient(83deg, #efeae6 0%, #b1b1a9 100%);
}

input {
  margin-right: 10px;
}

.address-list {
  padding: 0;
  margin: 0;

  li {
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    line-height: 1.5; /* Ajusta el espacio entre líneas */
    margin-bottom: 5px; /* Espacio entre los elementos de la lista */
    font-weight: bold; /* Poner en negrita */

    &:last-child {
      margin-bottom: 0; /* Elimina el margen inferior del último elemento */
    }
  }
}

p {
  font-weight: bold; /* Poner en negrita */
  color: #666; /* Color del texto gris */
}


.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  gap: 1rem;
}

.field-container {
  flex: 1;
}

.error-message {
  color: red;
  font-size: 0.875rem;
}

//de aqui para el dialog

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; /* Necesario para que el z-index funcione */
  z-index: 10000; /* Ajusta el valor según sea necesario */

  .section {
    padding: 1rem;
    box-sizing: border-box;

    &.section1 {
      // Estilos para la primera sección
      background-color: #f9f9f9;
    }

    &.section2 {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      background-color: #fff;
    }

    &.section3 {
      // Estilos para la tercera sección
      background-color: #f9f9f9;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem; // Ajusta el espacio entre los items según necesites
  }

  .flex-item {
    flex: 1;
    // Ajusta el ancho mínimo si es necesario
    min-width: 0;

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
    }

    small {
      display: block;
      margin-top: 0.25rem;
      color: #6c757d; // Ajusta el color del texto de ayuda si es necesario
    }
  }
}

.editar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem; /* Espacio entre los elementos del grid */
  height: 100%; /* Se adapta a la altura del diálogo */
  width: 100%;  /* Se adapta al ancho del diálogo */
  padding: 1rem; /* Espacio interno del grid */
  box-sizing: border-box; /* Para incluir padding en el tamaño total */
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  font-weight: bold;
}


.editDialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dialog-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.dialog-item {
  width: 23%; /* Ajusta el ancho según sea necesario */
  background-color: #f0f0f0; /* Color de fondo para visualizar los divs */
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






