html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Evita el scroll de la página */
}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  border-radius: 10px;

  .header {
    flex: 0 0 50px; /* Cambia la altura del header aquí */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(83deg, #efeae6 0%, #b1b1a9 100%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Box-shadow alrededor del contenedor */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
  }

  .left-btn {
   text-align: center;
   border-radius: 10px;
   margin: 2px;
  }

  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; // Ocupa el espacio restante en el centro

    .header-img {
      height: 80px; // Ajusta la altura de la imagen según sea necesario
      width: auto; // Mantiene la proporción de la imagen
      margin-right: 10px; // Espacio entre la imagen y el texto
      display: block; // Asegura que la imagen no tenga espacio debajo
    }

    .header-text {
      text-align: center;
      size: 35px;
    }
  }

  .right-buttons {
    display: flex;
    flex-direction: row; // Organiza los botones verticalmente
    align-items: center;
    margin: 2px;

    .right-btn {
      margin: 3px;
      border-radius: 10px;
    }
  }

  .card {
    display: flex;
    align-items: center;
  }

  .chips-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .ml-2 {
    margin-left: 10px;
  }

  .body {
    flex: 1; /* Esta sección ocupa el espacio restante */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Ajusta el tamaño de las columnas aquí */
    grid-template-rows: .5fr 2fr 1fr; /* Ajusta el tamaño de las filas aquí */
    gap: 10px; /* Ajusta el espacio entre las secciones */
    background: linear-gradient(83deg, #efeae6 100%, #b1b1a9 0%);
    padding: 10px; /* Añade padding alrededor del contenido */

    .column {
      background-color: #f0f0f0;
      border-radius: 10px;
      padding: 10px;
    }

    .column1 {
      grid-row: span 3;
    }

    .column2 {
      grid-column: span 2;
      background-color: #d3d3d3;
      grid-column: span 2;
      background-color: #d3d3d3;

      .column2-content {
        display:  grid;
        grid-template-columns: repeat(3, 1fr); /* Divide en 3 partes iguales */
        align-items: center;
        justify-items: center;
        height: 100%;

        .link-btn {
          width: 50%; /* Ajusta el tamaño del botón según sea necesario */
          padding: 10px;
          border-radius: 5px;
          background-color: transparent;
          color: white;
          border: none;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  font-size: 2rem;
  color: white;
}

.toggle-link {
  color: #007bff; /* Color azul similar a un enlace estándar */
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-link:hover {
  color: #0056b3; /* Color al pasar el mouse */
  text-decoration: underline;
}

p {
  margin: 0.5rem 0; /* Espacio vertical entre los párrafos */
}

p strong {
  font-weight: bold;
}

.password-criteria {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.password-criteria li {
  color: #ff0000; /* Color por defecto para condiciones no cumplidas */
  font-size: 14px;
  margin-bottom: 5px;
}

.password-criteria li.valid {
  color: #00ff00; /* Color para condiciones cumplidas */
  font-weight: bold;
}


